/* DEFAULTS
----------------------------------------------------------*/

body
{
    background-image: url('../Content/images/cbpp_background.jpg');
    background-repeat: repeat-x;
    background-position: 0px -300px; /**background: #ffffdd;**/
    font-size: 0.7em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI", Arial, Helvetica, Calibri, Verdana, sans-serif, "USPSIMBStandard";
    margin: 0px;
    padding: 0px;
    color: #444444;
}

.a
{
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

a:link, a:visited
{
    color: #325DA4;
    text-decoration: none;
}

a:hover
{
    color: #325DA4;
    text-decoration: underline;
}

a:active
{
    color: #325DA4;
    text-decoration: none;
    outline: none;
}

a, img
{
    border: none;
    outline: none;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, h1p, h2p, h3p
{
    font-size: 1.5em; /*color: #ed7d23;*/
    color: #ee8722;
    text-transform: none;
    font-weight: 200;
}
h1 /* Header Title */
{
    font-size: 2.0em;
    font-weight: 600;
    padding: 1px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}
h1p /* Header Title Popups */
{
    font-size: 1.6em;
    font-weight: 600;
}
h2 /* Message Box Title */
{
    font-size: 1.4em;
    font-weight: 600;
    padding: 8px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}
h3 /* Section Title */
{
    font-size: 1.2em;
    color: #244d91;
    font-weight: 600;
    margin-bottom: 10px;
}
h3p /* Section Title */
{
    font-size: 1.3em;
    color: #244d91;
    font-weight: 300;
}
h4 /* Main Body Text */
{
    font-size: 1.2em;
    color: black;
    font-weight: 400;
    margin: 10px 30px 0px 0px;
    padding: 0px 0px 0px 10px;
}
h5 /* Message Box Text */
{
    font-size: 1.2em;
    color: #244d91;
    font-weight: 400;
    margin: 10px 33px 0px 0px;
    padding: 0px 0px 0px 10px;
}
h6
{
    font-size: 1em;
}

h1p /* Header Title Popups */
{
    font-size: 1.6em;
    font-weight: 600;
}
h2p /* Section Title */
{
    font-size: 1.6em;
    color: #e97824;
    font-weight: 600;
    line-height: 1.1em;
}
h3p /* Section Title */
{
    font-size: 1.3em;
    color: #002897;
    font-weight: 300;
}
h4p /* Section Title */
{
    font-size: 1.2em;
    color: #002897;
    font-weight: 300;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1200px;
    display: table;
    background-color: #fff;
    border: 1px solid #325DA4;
    border-radius: 10px;
    margin: 20px auto 0px auto;
    padding-bottom: 20px;
}

.header
{
    background-image: url('../Content/images/top_menu_background.gif'); 
    background-position: 0px 0px;
    background-repeat: repeat-x;
    margin: 0px;
    min-height: 26px;
    padding: 0px;
    position: relative;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}
.main
{
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 12px 0px 12px;
    min-height: 560px;
}

.txtDateTime
{
    float: right;
    margin: 5px 10px 0px -150px;
    color: #002897;
}

.txtLogout-ppw
{
    float: right;
    margin: 20px 20px -10px 0px;
    padding: 0px 0px 0px 0px;
    color: #dc6c12;
    font-size: 1.1em;
    line-height: 1.5em;
}

.txtLogout-ppp
{
    float: right;
    margin: 15px 25px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #dc6c12;
    font-size: 1.1em;
    line-height: 1.5em;
}

.form-row-login
{
    float: left;
    width: 25%;
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 20px 0px 0px 40px;
}
.pgColumn1
{
    float: left;
    width: 19%;
    position: relative;
    background: transparent url('../Content/images/hdr_msgbox.jpg') no-repeat 0px 0px;
    margin: 20px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    min-height: 500px;
}
.pgColumn2
{
    float: left;
    width: 79%;
    position: relative;
    background: transparent url('../Content/images/hdr_titlebox.jpg') no-repeat 0px 0px;
    margin: 20px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
    height: auto;
}
.txtActivePtBox
{
    float: left;
    margin: 15px 0px 0px 10px;
    position: relative;
    background: transparent url('../Content/images/hdr_activebox_red.jpg') no-repeat 0px 0px;
    min-height: 35px;
    min-width: 260px;
}
.txtActivePtControl
{
    float: left;
    margin: 11px 0px 0px 10px;
}
.txtActivePtName
{
    float: right;
    margin: -16px 0px 0px 23px;
    position: absolute;
    color: #cc3333;
    font-size: 1.3em;
    line-height: 1.0em;
    font-weight: bold;
}

.hdrTitle
{
    float: left;
    width: 70%;
    position: relative;
    background: transparent url('../Content/images/hdr_titlebox.jpg') no-repeat 0px 0px;
    margin: 15px 0px 0px 10px;
    padding: 0px 10px 0px 0px;
    min-height: 35px;
}

.txtProviderNote
{
    float: left;
    margin: 5px 5px 0px 20px;
    padding: 0px 0px 0px 0px;
    color: #cc3333;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
}

.bodyMain
{
    float: left;
    width: 99%;
    position: relative;
    margin: 0px 0px 0px 5px;
    min-height: 200px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.pgHeader
{
    position: absolute;
    background-image: url('../Content/images/hdr_msgbox.jpg'), url('../Content/images/hdr_titlebox.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: 0px 0px, 210px 0px;
    margin: 0px 0px 0px 0px;
    min-height: 520px;
}

.footer
{
    width: 1190px;
    color: #002897;
    padding: 5px 0px 0px 0px;
    margin: 0px auto;
    font-size: 1.05em;
    line-height: normal;
}

.CareBluePopup
{
    height: 100%;
    width: 97%; /* background-color: white; */
    border-collapse: collapse;
    border: 0px solid black;
    border-spacing: 20px;
    margin: 8px 10px 0px 10px;
}
.CareBluePopup tr, .CareBluePopup td
{
    border-collapse: collapse;
    border: 0px solid blue;
}
.CareBluePopup td
{
    padding-bottom: .25em;
}
table#receipt 
{
    width:100%;
    margin-left:auto; 
    margin-right:auto; 
    text-align:center; 
}

.ExtraPad
{
    padding-top: 1.0em;
}

.aleft
{
    text-align: left;
}

.amiddle
{
    text-align: center;
}

.aright
{
    text-align: right;
}

.fleft
{
    float: left;
}

.fmiddle
{
    float: center;
}

.fright
{
    float: right;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

.bolder
{
    font-weight: bolder;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}
input.textEntry-login
{
    width: 120px;
    border: 1px solid #ccc;
}

input.passwordEntry-login
{
    width: 120px;
    border: 1px solid #ccc;
}



/* MISC  
----------------------------------------------------------*/



.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}
.align-error-messages
{
    float: right;
    margin-right: 100px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: #ee3424;
    margin:-18px 0px -20px 0px;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.btnSubmit
{
    background: url('../Content/images/btn_submit_small.gif') no-repeat;
}
.btnLogin
{
    background: url('../Content/images/btn_login.gif') no-repeat;
}
.boxLogin
{
    background: transparent url('../Content/images/cbpp_loginbox.jpg') no-repeat 0px 0px;
    margin: 0px 0px 0px 20px;
}

.form-row
{
    float: left;
    width: 100%;
    padding-bottom: 8px;
    margin-left: 15px;
}
.form-row-nopad
{
    float: left;
    width: 100%;
    padding-bottom: 0px;
    margin-left: 15px;
}
.lblInputR
{
    color: #4D6231;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
    display: block;
}
.lblInputL
{
    color: #4D6231;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
    display: block;
}
.boxInputL
{
    float: left;
}
.boxInputR
{
    float: right;
}
.editor-label
{
    color: #4D6231;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    display: block;
    width: 100px;
}

/* THIS IS FROM OLD PP.PUBLIC
.editor-label
{
    color: #34467e;
    font-size: 1.0em;
    margin: 2px 10px 0px 5px;
    width: 90px;
}
*/
.label-login /* for table structure instead of div tags */
{
    color: #34467e;
    font-weight: bold;
    font-size: 1.0em;
    text-align: right;
    margin-right: 10px;
}
.editor-label-login
{
    color: #34467e;
    font-weight: bold;
    font-size: 1.0em;
    float: left;
    text-align: right;
    margin-right: 10px;
    margin-top: 0px;
    display: block;
    width: 90px;
}
.align-fields 
{
    color: #4D6231;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    display: block;
    width: 91px;
}
.editor-field
{
    float: left;
    line-height: 1.5em;
    font-weight: normal;
    margin-top: 0px;
}
.field-login /* for table structure instead of div tags */
{
    float: left;
    font-weight: normal;
    font-size: 1.2em;
}
.editor-field-login
{
    float: left;
    line-height: 30px;
    font-weight: normal;
    font-size: 1.2em;
    margin-top: -7px;
}
.editor-section
{
    color: #800000;
    font-weight: 500;
    font-size: 1.0em;
    text-align: center;
    margin: 0px 0px 2px 0px;
    display: block;
    width: 320px;
    clear: both;
}

.ie .fldDate 
{
    height:5px; 
}

.editor-upload-field
{
    line-height: 21px;
}
.align-popup-fields .editor-label
{
    color: #4D6231;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    display: block;
    width: 104px;
}
.submit-button
{
    padding-left: 50px;
}
.zip-code1
{
    width: 80px;
}
.zip-code2
{
    width: 58px;
}
.success-message
{
    color: darkgreen;
    padding-bottom: 20px;
    font-size: medium;
}
.set-telerik-ctrl-width
{
    width: 149px;
}
.textarea
{
    resize: none;
}

.margin-top
{
    margin-top: 10px;
}

.margin-left-search-buttons
{
    margin-left: 228px;
}

.grd-search-align
{
    float: right;
}

.display-inline
{
    display: table-row;
}

.td-padding
{
    padding-left: 0px;
    width: 0px;
}

.container
{
    display: block;
    width: 20px;
}
.col
{
    display: block;
    float: left;
    margin-top: 5px;
}
.box
{
    display: block;
    float: right;
    margin-bottom: 5px;
}

.credit-popup
{
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
}


.credit-popup span
{
    font-weight: bold;
}

.customprintbutton
{
    background: url(../Content/Images/printbar.gif) !important;
}
.customprintbutton:hover
{
    background: url(../Content/Images/printbar.gif) 0 -26px !important;
}

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: #ee3424;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.btnSubmit
{
    background: url('../Content/images/btn_submit_small.gif') no-repeat;
}
.btnLogin
{
    background: url('../Content/images/btn_login.gif') no-repeat;
}
.boxLogin
{
    background: transparent url('../Content/images/cbpp_loginbox.jpg') no-repeat 0px 0px;
    margin: 25px 0px 0px 30px;
}


/*For Alert Popup --------------*/
.rwDialogPopup.radalert h5 {
    margin: 0;
}

/* BUTTON CSS  
----------------------------------------------------------*/

.btn-cancel
{
}
.btn-submit
{
}
.btn-search
{
}
.btn-new
{
}
.btn-update
{
}
.btn-add
{
}
.btn-run-new
{
}
.btn-create-new
{
}
.btn-create-new
{
}
.btn-ok
{
}
.btn-clear
{
}
.btn-assign
{
}
.btn-add-new
{
}
.btn-close
{
}
.btn-activate
{
}
.btn-select
{
}
.btn-print
{
}
.btn-download
{
}
.btn-edit
{
}
.btn-process
{
}
.btn-no-goback
{
}
.btn-yes-cancel
{
}
.btn-edit-small
{
}
.btn-next
{
}
.btn-estimate
{
}
.btn-terminate
{
}



.btn-add-new {
    float: right;
    margin: 10px 10px;
}

.btn-pop-next
{
    float: right;
    margin: 20px 10px;
}

.btn-pop-edit
{
    margin: 20px 0 0 133px;
}

.btn-largepop-edit
{
    margin: 20px 0 0 327px;
}

.btn-pop-cancel
{
    float: left;
    margin: 20px 0 0 10px;
}
.btn-pop-submit
{
    float: right;
    margin: 20px 10px;
}
.btn-no-goback
{
    float: left;
    margin-left: 10px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}
.btn-yes-cancel
{
    float: right;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}


/*For Content Template of Telerik Popup*/
.align-popup-fields .editor-label
{
    color: #4D6231;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 5px;
    display: block;
    width: 104px;
}
