<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PatientPortal.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AesIV256" value="!QAZ2WSX#EDC4RFV"/>
    <add key="AesKey256" value="5TGBSYHN7UJM(IK)5TGB(YHN7UJM(IK)"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="JangoMailSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="MedData External Submission PortalSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="99999999" maxStringContentLength="99999999" maxArrayLength="99999999" maxBytesPerRead="99999999" maxNameTableCharCount="99999999"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="MedData External Submission PortalSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="MedData External Submission PortalSoap2">
          <security mode="Transport"/>
        </binding>
        <binding name="MedData External Submission PortalSoap3"/>
        <binding name="JangoMailSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="JangoMailSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://api.jangomail.com/api.asmx" binding="basicHttpBinding" bindingConfiguration="JangoMailSoap" contract="JangoMail.JangoMailSoap" name="JangoMailSoap"/>
      <endpoint address="https://services.meddatahealth.com/submissionportal/submissionportal.asmx" binding="basicHttpBinding" bindingConfiguration="MedData External Submission PortalSoap" contract="MedDataService.MedDataExternalSubmissionPortalSoap" name="MedData External Submission PortalSoap"/>
      <endpoint address="https://services.meddatahealth.com/submissionportal/submissionportal.asmx" binding="basicHttpBinding" bindingConfiguration="MedData External Submission PortalSoap2" contract="MedDataService.MedDataExternalSubmissionPortalSoap" name="MedData External Submission PortalSoap1"/>
      <endpoint address="http://api.jangomail.com/api.asmx" binding="basicHttpBinding" bindingConfiguration="JangoMailSoap1" contract="JangoMail.JangoMailSoap" name="JangoMailSoap1"/>
      <endpoint address="http://api.jangomail.com/api.asmx" binding="customBinding" bindingConfiguration="JangoMailSoap12" contract="JangoMail.JangoMailSoap" name="JangoMailSoap12"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PatientPortal.Utility.Properties.Settings>
      <setting name="PatientPortal_Utility_FS_Transact_Dev_SmartPayments" serializeAs="String">
        <value>https://dev.ftipgw.com/smartpayments/transact.asmx</value>
      </setting>
      <setting name="PatientPortal_Utility_FS_Transact_Prod_SmartPayments" serializeAs="String">
        <value>https://secure.ftipgw.com/smartpayments/transact.asmx</value>
      </setting>
      <setting name="PatientPortal_Utility_FS_Transact_Reader_SmartPayments3" serializeAs="String">
        <value>https://secure.ftipgw.com/smartpayments/transact3.asmx</value>
      </setting>
      <setting name="PatientPortal_Utility_FS_TrxDetail_Dev_TrxDetail" serializeAs="String">
        <value>https://dev.ftipgw.com/admin/ws/trxdetail.asmx</value>
      </setting>
      <setting name="PatientPortal_Utility_FS_TrxDetail_Prod_TrxDetail" serializeAs="String">
        <value>https://secure.ftipgw.com/admin/ws/trxdetail.asmx</value>
      </setting>
    </PatientPortal.Utility.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
